@model DeparmentViewModel
@{
    ViewData["Title"] = "create";
}

<h1>create</h1>
<br />
<form asp-action="Create">

    <partial name="_creatEditeParialView" />

        
    <br />
    <input type="submit" value="Add" class=" btn btn-danger" /> ||
    <a class="btn btn-warning" asp-action="Index"> Back to List</a>
</form>
@section ValidationScriptsPartial{
<partial name="_ValidationScriptsPartial" />
}

