@model DeparmentViewModel
@{
    ViewData["Title"] = "Edite";
}

<h1>Edite</h1>
<form asp-action="Edit"> 
    <div asp-validation-summary="All"> </div>

    <partial name="_creatEditeParialView" />


<input type="submit" value="save" class="btn btn-primary"  />

</form>
@section ValidationScriptsPartial{  
    <partial name="_ValidationScriptsPartial" />
}


