@model ApplicationUser
@{
    ViewData["Title"] = "Details";
}

<h1>details of Department</h1>
<div class="form-group">
    <label asp-for="UserName" class="col-form-label"></label>
    <input asp-For="UserName" class="form-control" readonly />

</div>

<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-For="Email" class="form-control" readonly />

</div>

<div class="form-group">
    <label asp-for="IsAgree" class="col-form-label"></label>
    <input asp-For="IsAgree" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input asp-For="PhoneNumber" class="form-control" readonly />
</div>

<br />
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"> Edite</a>
<a asp-action="Index" class="btn btn-danger"> back to List</a>
